.home {
  background-color: #262626;
  color: white;
  font-family: 'Milonga', cursive;
  width: 70%;
  margin: auto;
}

.username {
  padding: 10px;
  font-size: 18px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}