.playerContainer {
  position: absolute;
}

.player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background: rgb(13, 13, 13, .8);
  border-radius: 5px;
  color: white;
  width: 240px;
}

.playerImage {
  width: 70px;
  border-radius: 50%;
}

.player2-1, .player4-1, .player6-1 {
  top: 0px;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
}

.player2-2, .player4-2, .player6-2 {
  bottom: 0px;
  left: 50%;
  transform: translatex(-50%) translatey(50%);
}

.player4-3 {
  top: 50%;
  left: 0px;
  transform: translatex(-50%) translatey(-50%);
}

.player4-4 {
  top: 50%;
  right: 0px;
  transform: translatex(50%) translatey(-50%);
}

.player6-3 {
  top: 25%;
  left: 0px;
  transform: translatex(-50%) translatey(-50%);
}

.player6-4 {
  top: 75%;
  right: 0px;
  transform: translatex(50%) translatey(-50%);
}

.player6-5 {
  top: 75%;
  left: 0px;
  transform: translatex(-50%) translatey(-50%);
}

.player6-6 {
  top: 25%;
  right: 0px;
  transform: translatex(50%) translatey(-50%);
}

.cards {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translatex(-50%) translatey(50%);
  width: 180px;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.cardImage {
  width: 40px;
  margin: 0 2px;
}