.tableContainer {}

.waitingPlayer {
  display: flex;
  padding: 10px 0;
  border-radius: 5px;
  color: white;
}

.waitingPlayer h3 {
  padding: 0 10px;
}

.waitingPlayer span {
  font-size: 14px;
  color: grey;
}

.waitingPlayerImage {
  width: 70px;
  border-radius: 50%;
}

.table {
  width: 600px;
  height: 600px;
  background-color: #4aad4a;
  border: 15px solid #a95555;
  border-radius: 50%;
  position: relative;
}

.table:before {
  content: '';
  border: 7px solid rgba(0, 0, 0, .1);
  display: block;
  width: 615px;
  height: 615px;
  border-radius: 50%;
  position:absolute;
  top: -15px;
  left: -15px;
}

.table:after {
  content:'';
  border: 7px solid rgba(0, 0, 0, .1);
  display: block;
  width: 585px;
  height: 585px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.players {
  position:relative;
  width: 100%;
  height: 100%;
}
